snippet log
console.log(${0:})
endsnippet


snippet json
console.log(JSON.stringify(${0:}), " ---------------------------- ");
endsnippet


snippet log
console.log(JSON.stringify(${0:}), " ---------------------------- ");
endsnippet


snippet try
try {
	${1:}
} catch (err) {
	${2:}
}
${3:}
endsnippet


snippet if
if (${1:}) {
	${2:}
} else {
	${3:}
}
${4:}
endsnippet
